@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: #CFDBE4;
}

.cards {
  width: 1440px;
  height: 900px;
  margin: 50px auto;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(70%, white), color-stop(70%, #183A4A), to(#183A4A));
  background: -o-linear-gradient(left, white 0%, white 70%, #183A4A 70%, #183A4A 100%);
  background: linear-gradient(to right, white 0%, white 70%, #183A4A 70%, #183A4A 100%);
  border-radius: 80px;
}

.container {
  padding: 150px 0 0 150px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #000000;
}
.send__name span {
  color: #DD5471;
}
.send__info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}
.send__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.send__input {
  margin-top: 8px;
  padding: 0 0 0 20px;
  width: 545px;
  height: 50px;
  border: 1px solid rgba(130, 130, 130, 0.3294117647);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #828282;
}
.send .input3 {
  margin-top: 12px;
}
.send__imortant {
  padding-top: 2px;
  color: red;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}
.send__button {
  margin-top: 20px;
}
.send__button button {
  width: 545px;
  height: 50px;
  background: #DD5471;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
}
.send__contacts {
  padding-top: 60px;
}
.send__contacts_icon {
  padding-right: 16px;
}
.send__contacts_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
}
.send__contacts_number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #DD5471;
}
.send__contacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.send .send__contacts-rowimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map iframe {
  width: 545px;
  height: 700px;
  margin: -50px 0 0 71px;
}